/* General styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(66, 17, 111);
  color: azure;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
}

.navbar {
  background-color: rgb(105, 32, 174) !important;
}

.color-me .navbar-nav .nav-link {
  color: azure !important;
}

.card {
  margin-bottom: 20px;
  margin-top: 60px;
  border: 0;
  background-color: blueviolet;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
}

form {
  margin-top: 20px;
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea.form-control {
  resize: vertical;
}

.btn-primary {
  margin-top: 20px;
  background-color: blueviolet;
  border: 0;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #5f0e82;
}

.photo-container {
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;

}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Scroll button */
.scroll-button {
  border-radius: 50%;
  background-color: blueviolet;
  border: 0;
  color: white;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Media queries */
@media (max-width: 576px) {
  /* Adjustments for mobile screens */
  .navbar-brand {
    font-size: 18px;
  }
  .display-5 {
    font-size: 24px;
  }
  .card {
    margin-top: 30px;
  }
  .photo-container {
    margin-bottom: 10px;
  }
  .photo-container img {
    filter: none;
    width: 90%;
    max-height: 400px;
    margin: 0 auto;
  }
  .flex-lg-row-reverse {
    flex-direction: column-reverse !important;
  }
  .scroll-button {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 991.98px) {
  /* Adjustments for tablet screens */
  .navbar-brand {
    font-size: 20px;
  }
  .display-5 {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  /* Default styles for desktop screens */
  .navbar-brand {
    font-size: 24px;
  }
  .display-5 {
    font-size: 36px;
  }
}
