html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(66, 17, 111);
    color: azure;
  }
  
  .page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3em;
  }

  .navbar {
    background-color: rgb(105, 32, 174) !important;
  }

  .color-me .navbar-nav .nav-link {
    color:azure !important;
  }
  
  @media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
  }

  .card {
    margin-bottom: 20px;
    margin-top: 60px;
    border: 0px;
    background-color: blueviolet;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
  }

  form {
    margin-top: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  textarea.form-control {
    resize: vertical;
  }
  
  .btn-primary {
    margin-top: 20px;
  }
  

  .photo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    filter: blur(10px);
  }
  

  
  .photo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

.scroll-button {
  border-radius: 50%;
  background-color: blueviolet;
  border: 0px;
}